.add-level {
  padding: 1em;
  border-bottom: 1px solid var(--main-border-color);
  display: flex;
}

.add-level > input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: 2px solid var(--main-border-color);
  box-shadow: none;
  border-radius: 0.5em;
  appearance: none;
  color: var(--main-text-color);
  padding-left: 0.5em;
}

.add-level > input:focus {
  box-shadow: 0 0 5px rgba(255, 20, 147, 0.8);
  outline-width: 0;
}

.add-level > button {
  width: auto;
  margin-left: 1em;
  color: black;
}

.add-level > button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
