:root {
  --main-background-color: #21252b;
  --main-border-color: #181a1f;
  --main-text-color: #abb2bf;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

button {
  background-color: transparent;
  border: none;
  padding: 0px;
}

.google-visualization-tooltip {
  border: none !important;
  border-radius: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
}
